@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0;
}

h2 {
  font-size: 1.5em;
  margin: 0;
}

h3 {
  font-size: 1.17em;
  margin: 0;
}

h4 {
  font-size: 1em;
  margin: 0;
}

h5 {
  font-size: 0.83em;
  margin: 0;
}

h6 {
  font-size: 0.75em;
  margin: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.btn {
  padding: 15px 57px;
  font-size: 0.9em;
  text-transform: uppercase;
  background: none;
  border: 2px solid #F8F1EA;
  color: #ffffff;
}

.first-screen {
  position: relative;
}
.first-screen__content {
  position: absolute;
  top: 18%;
  right: 11%;
  z-index: 2;
  text-align: center;
  color: #fff;
}
.first-screen__slider {
  position: relative;
  height: calc(100vh - 80px);
}
.first-screen__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.slick-dots {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
}
.slick-dots li.slick-active button {
  background-color: #F16A50;
}
.slick-dots button {
  font-size: 0;
  background: #F8F1EA;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  font-size: 0;
}
.slick-arrow::before {
  content: url(../assets/svg/sprite/prev_arrow.svg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slick-prev {
  left: -40px;
}

.slick-next {
  left: none;
  right: -40px;
}
.slick-next::before {
  content: url(../assets/svg/sprite/next_arrow.svg);
}

.slick-track {
  display: flex;
  align-items: center;
  gap: 70px;
}

.slider .slick-track {
  gap: 20px;
}

.first-screen .slick-track {
  gap: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #000000;
}

img {
  display: block;
}

.container {
  max-width: 1198px;
  margin: 0 auto;
  padding: 0 15px;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}

.title {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.title_2 {
  max-width: 400px;
  font-size: 2.5em;
}
.title_3 {
  font-size: 1.6em;
}

.btn_black {
  border-color: #000000;
  color: #000000;
}
.btn:hover {
  border: 2px solid #F16A50;
  background: #F16A50;
  color: #ffffff;
}

.header {
  background: #F8F1EA;
}
.header .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  list-style: none;
}
.header .menu__item {
  padding: 28px 15px;
}
.header .menu__item:hover {
  background: #F16A50;
}
.header .menu__item:hover .menu__link {
  color: #ffffff;
}
.header .menu__link {
  color: #000000;
  text-decoration: none;
}
.header .icons-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.header .icon-panel__img {
  width: 36px;
}

.arivals {
  max-width: 1400px;
  margin: 0 auto;
  padding: 70px 100px;
  text-align: center;
}
.arivals article:nth-of-type(1) {
  margin-left: 0;
}
.arivals .slider {
  margin-bottom: 53px;
}
.arivals .goods {
  width: 224px;
  border: 1px solid #F8F1EA;
  padding: 0 5px 20px;
}
.arivals .goods .availability {
  display: block;
  max-width: 60px;
  font-size: 0.5em;
  text-transform: uppercase;
  color: #F8F1EA;
  background-color: #F16A50;
  padding: 4px 5.5px;
}
.arivals .goods .sold {
  background: #F8F1EA;
  color: #000000;
}
.arivals .goods__sold {
  border: 1px solid #F16A50;
}
.arivals .goods__img {
  margin: 0 auto 18px;
}
.arivals .goods__name {
  font-size: 0.8em;
  font-weight: 600;
  margin-bottom: 10px;
}
.arivals .goods__price {
  font-size: 1.2em;
  font-weight: 700;
}

.partners {
  background: #F8F1EA;
  padding: 70px 100px;
  text-align: center;
}
.partners__slider {
  max-width: 1400px;
  margin: 0 auto;
}

.footer {
  padding: 70px 0 20px;
  background: #35312D;
}
.footer__container {
  max-width: 1142px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.footer .logo_white {
  margin-bottom: 35px;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}
.footer .menu__item:hover .menu__link {
  color: #F16A50;
}
.footer .menu__link {
  color: #F8F1EA;
  text-decoration: none;
}
.footer__text {
  font-size: 1.3em;
  color: #F8F1EA;
  margin-bottom: 51.5px;
}
.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
  margin-bottom: 35.5px;
}
.footer .social__icon {
  fill: #F8F1EA;
}
.footer .social__icon_stroke {
  fill: none;
  stroke: #F8F1EA;
}
.footer .social__link:hover .social__icon {
  fill: #F16A50;
}
.footer .social__link:hover .social__icon_stroke {
  stroke: #F16A50;
  fill: none;
}
.footer__phone {
  margin-bottom: 0;
}
.footer__copyright {
  margin: 54px 0 20px;
  text-align: center;
  font-size: 0.7em;
  color: #F8F1EA;
}

@media screen and (max-width: 992px) {
  html, body {
    font-size: 16px;
  }
  .header .logo__img {
    width: 168px;
  }
  .header .menu {
    gap: 0;
  }
  .header .menu__item {
    padding: 28px 15px;
  }
  .header .icons-panel {
    gap: 20px;
  }
  .header .icon-panel__img {
    width: 27px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding: 20px 0;
  }
  .header .d-flex_burger {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38px;
    flex-direction: row-reverse;
  }
  .header .menu {
    flex-direction: column;
    gap: 0;
    position: absolute;
    z-index: 5;
    top: 80px;
    right: 15px;
    width: 170px;
    background-color: rgba(0, 0, 0, 0.7725490196);
    box-shadow: 1px 3px 7px 1px #202323;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    opacity: 0;
  }
  .header .menu__item {
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #F8F1EA;
  }
  .header .menu__item:last-child {
    border-bottom: none;
  }
  .header .menu__link {
    color: #F8F1EA;
  }
  .header .menu.active {
    opacity: 1;
  }
  .header__burger {
    display: none;
    cursor: pointer;
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  .header__burger {
    position: relative;
    display: block;
    width: 30px;
    height: 20px;
    z-index: 6;
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    transition: 0.5s;
    width: 30px;
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    transition: 0.5s;
    width: 30px;
    bottom: 9px;
  }
  .header__burger span {
    position: absolute;
    top: 9px;
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
  }
  .header__burger span.hide {
    opacity: 0;
  }
  .header__burger::after, .header__burger::before {
    content: "";
    position: absolute;
    left: 0;
    background: #000;
    width: 35px;
    height: 2px;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
    width: 25px;
  }
}
@media screen and (max-width: 768px) {
  .first-screen__content {
    right: 0;
  }
}