$color_black: #000000;
$color_brown-dark: #35312D;
$color_arrow-inactive: #202020;
$color_tomato: #C62100;
$color_tomato-light: #F16A50;
$color_brown-light: #F8F1EA;
$_color_dot-inactive: #F8F1EA;
$color_dark-dot-inactive: #CAC2BA;