@import 'normalize';
@import 'vars';
@import 'mixins';
@import 'extends';
@import 'burger';
@import 'slider';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: $color_black;
}

img {
    display: block;
}

.container {
    max-width: 1198px;
    margin: 0 auto;
    padding: 0 15px
}

.d-flex {
    @include flex(space-between, center, 0);
}

.title {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 50px;

    &_2 {
        max-width: 400px;
        font-size: 2.5em;
    }

    &_3 {
        font-size: 1.6em;
    }
}

.btn {
    @extend %btn;

    &_black {
        border-color: $color_black;
        color: $color_black;
    }

    &:hover {
        border: 2px solid $color_tomato-light;
        background: $color_tomato-light;
        color: #ffffff;
    }
}

.header {
    background: $color_brown-light;

    .menu {
        @include flex(center, center, 15px);
        list-style: none;

        &__item {
            padding: 28px 15px;

            &:hover {
                background: $color_tomato-light;
            }

            &:hover .menu__link {
                color: #ffffff;
            }
        }

        &__link {
            color: $color_black;
            text-decoration: none;
        }
    }

        .icons-panel {
            @include flex(center, center, 30px)
    }
}

.arivals {
    max-width: 1400px;
    margin: 0 auto;
    padding: 70px 100px;
    text-align: center;

    & article:nth-of-type(1) {
        margin-left: 0;
    }

    .slider {
        margin-bottom: 53px;
    }

    .goods {
        width: 224px;
        border: 1px solid $color_brown-light;
        padding: 0 5px 20px;



        .availability {
            display: block;
            max-width: 60px;
            font-size: 0.5em;
            text-transform: uppercase;
            color: $color_brown-light;
            background-color: $color_tomato-light;
            padding: 4px 5.5px;
        }

        .sold {
            background: $color_brown-light;
            color: $color_black;
        }

        &__sold {
            border: 1px solid $color_tomato-light;
        }

        &__img {
            margin: 0 auto 18px;
        }

        &__name {
            font-size: 0.8em;
            font-weight: 600;
            margin-bottom: 10px;
        }

        &__price {
            font-size: 1.2em;
            font-weight: 700;
        }
    }
}


.partners {
    background: $color_brown-light;
    padding: 70px 100px;
    text-align: center;
    &__slider {
        max-width: 1400px;
        margin: 0 auto;
        
    }
}

.footer {
    padding: 70px 0 20px;
    background: $color_brown-dark;

    &__container {
        max-width: 1142px;
        margin: 0 auto;
        padding: 0 15px;
        @include flex(space-between, center, 0)
    }

    .logo_white {
        margin-bottom: 35px;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style: none;
    }

    .menu__item:hover .menu__link {
        color: $color_tomato-light;
    }

    .menu__link {
        color: $color_brown-light;
        text-decoration: none;
    }

    &__text {
        font-size: 1.3em;
        color: $color_brown-light;
        margin-bottom: 51.5px;
    }

    &__social {
        @include flex(center, center, 30px);
        list-style: none;
        margin-bottom: 35.5px;
    }

    .social__icon {
        fill: $color_brown-light;

        &_stroke {
            fill: none;
            stroke: $color_brown-light;
        }
    }

    .social__link:hover .social__icon {
        fill: $color_tomato-light;
    }

    .social__link:hover .social__icon_stroke {
        stroke: $color_tomato-light;
        fill: none;
    }

    &__phone {
        margin-bottom: 0;
    }

    &__copyright {
        margin: 54px 0 20px;
        text-align: center;
        font-size: 0.7em;
        color: $color_brown-light;
    }
}

@media screen and (max-width: 992px) {
    html, body {
        font-size: 16px;
    }
    .header {
        .logo__img {
            width: 168px;
        }

        .menu {
            gap: 0;
        }

        .menu__item {
            padding: 28px 15px;
        }
    }

    .icons-panel {
        gap: 20px;

        &__img {
            width: 27px;
        }
    }

}